<!DOCTYPE HTML>
<html th:fragment="layout(content, scripts,css)" lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8" content="width=device-width, initial-scale=1" name="viewport">
  <title th:text="博客"></title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.css}">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.13.1/font/bootstrap-icons.css}">
  <link rel="stylesheet" th:href="@{/css/home.css}" type="text/css" />
  <link rel="icon" href="data:,">
  <th:block th:replace="${css}"></th:block>
</head>

<body>

  <!-- 顶部导航 -->
  <div th:replace="~{layout/navbar :: navbar}"></div>

  <!-- 主体 -->
  <main class="container-fluid main-wrapper">
    <div th:replace="${content}" class="content-wrapper"></div>

    <button class="theme-fab btn btn-primary rounded-circle shadow" id="themeToggle">
      <i class="bi bi-moon" id="themeIcon"></i>
    </button>

  </main>
  <!-- 页脚 -->
  <div th:replace="~{layout/footer :: footer}"></div>

  <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/webjars/markdown-it/14.1.0/dist/markdown-it.js}"></script>
  <script th:src="@{/webjars/katex/0.6.0/dist/katex.min.js}"></script>
  <script th:src="@{/webjars/katex/0.6.0/dist/contrib/auto-render.min.js}"></script>
  <script th:src="@{/webjars/highlightjs/11.11.1/highlight.min.js}"></script>
  <script th:src="@{/webjars/markdown-it-emoji/1.4.0/dist/markdown-it-emoji-light.js}"></script>
  <script th:src="@{/webjars/markdown-it-sub/1.0.0/dist/markdown-it-sub.js}"></script>
  <script th:src="@{/webjars/markdown-it-sup/1.0.0/dist/markdown-it-sup.js}"></script>
  <script th:src="@{/webjars/markdown-it-footnote/2.0.0/dist/markdown-it-footnote.js}"></script>
  <script th:src="@{/webjars/markdown-it-deflist/2.1.0/dist/markdown-it-deflist.js}"></script>
  <script th:src="@{/webjars/markdown-it-abbr/1.0.4/dist/markdown-it-abbr.js}"></script>
  <script th:src="@{/webjars/markdown-it-ins/2.0.0/dist/markdown-it-ins.js}"></script>
  <script th:src="@{/webjars/markdown-it-mark/2.0.0/dist/markdown-it-mark.js}"></script>
  <!-- 页面专属JS -->

    <th:block th:replace="${scripts}"></th:block>


<script th:src="@{/js/home.js}"></script>
</body>
</html>