<!DOCTYPE HTML>
<html lang="zh" th:replace="~{layout/main :: layout(~{::markdown}, ~{::scripts},~{::css})}"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="css">
    <link id="change-codeTheme" rel="stylesheet" th:href="@{/webjars/highlightjs/11.11.1/styles/github.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/katex/0.6.0/dist/katex.min.css}">
</th:block>
<section th:fragment="markdown">
    <div class="row">
        <div class="toolbar mb-2 row align-items-center d-flex justify-content-between p-0">
            <div class="btn-toolbar toolbar">

                <div class="btn-group dropstart">
                    <button class="btn btn-secondary dropdown-toggle"
                            data-bs-toggle="dropdown" title="标题">
                        <i class="bi bi-type"></i>
                    </button>
                    <ul class="dropdown-menu" style="min-width: 50px;">
                        <li><a class="dropdown-item" data-action="h1">H1</a></li>
                        <li><a class="dropdown-item" data-action="h2">H2</a></li>
                        <li><a class="dropdown-item" data-action="h3">H3</a></li>
                        <li><a class="dropdown-item" data-action="h4">H4</a></li>
                        <li><a class="dropdown-item" data-action="h5">H5</a></li>
                        <li><a class="dropdown-item" data-action="h6">H6</a></li>
                    </ul>
                </div>

                <button class="btn btn-outline-secondary" data-action="bold"><i class="bi bi-type-bold"></i></button>
                <button class="btn btn-outline-secondary" data-action="italic"><i class="bi bi-type-italic"></i></button>
                <button class="btn btn-outline-secondary" data-action="strike"><i class="bi bi-type-strikethrough"></i></button>
                <button class="btn btn-outline-secondary" data-action="inline-code"><i class="bi bi-code"></i></button>
                <button class="btn btn-outline-secondary" data-action="code"><i class="bi bi-file-code"></i></button>
                <button class="btn btn-outline-secondary" data-action="quote"><i class="bi bi-blockquote-left"></i></button>
                <button class="btn btn-outline-secondary" data-action="ul"><i class="bi bi-list-ul"></i></button>
                <button class="btn btn-outline-secondary" data-action="ol"><i class="bi bi-list-ol"></i></button>
                <button class="btn btn-outline-secondary" data-action="task"><i class="bi bi-check2-square"></i></button>
                <button class="btn btn-outline-secondary" data-action="hr"><i class="bi bi-hr"></i></button>
                <button class="btn btn-outline-secondary" data-action="link"><i class="bi bi-link-45deg"></i></button>
                <button class="btn btn-outline-secondary" data-action="emoji"><i class="bi bi-emoji-smile"></i></button>
                <button class="btn btn-outline-secondary" data-action="undo"><i class="bi bi-arrow-counterclockwise"></i></button>
                <button class="btn btn-outline-secondary" data-action="redo"><i class="bi bi-arrow-clockwise"></i></button>
                <button class="btn btn-outline-secondary" data-action="fullscreen"><i class="bi bi-arrows-fullscreen"></i></button>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <!--            <textarea id="editor" class="form-control vh-100"></textarea>-->
            <div class="form-floating ">
                <textarea class="form-control  mb-1" id="editor" placeholder=" "></textarea>
                <label class="fs-6 text-center w-100" for="editor">Markdown 编辑器</label>
            </div>
        </div>
        <div class="col-md-6">
            <div id="preview" ></div>
        </div>
    </div>
</section>
<th:block th:fragment="scripts">
    <script th:src="@{/webjars/markdown-it/14.1.0/dist/markdown-it.js}"></script>
    <script th:src="@{/webjars/katex/0.6.0/dist/katex.min.js}"></script>
    <script th:src="@{/webjars/katex/0.6.0/dist/contrib/auto-render.min.js}"></script>
    <script th:src="@{/webjars/highlightjs/11.11.1/highlight.min.js}"></script>
    <script th:src="@{/webjars/markdown-it-emoji/1.4.0/dist/markdown-it-emoji-light.js}"></script>
    <script th:src="@{/webjars/markdown-it-sub/1.0.0/dist/markdown-it-sub.js}"></script>
    <script th:src="@{/webjars/markdown-it-sup/1.0.0/dist/markdown-it-sup.js}"></script>
    <script th:src="@{/webjars/markdown-it-footnote/2.0.0/dist/markdown-it-footnote.js}"></script>
    <script th:src="@{/webjars/markdown-it-deflist/2.1.0/dist/markdown-it-deflist.js}"></script>
    <script th:src="@{/webjars/markdown-it-abbr/1.0.4/dist/markdown-it-abbr.js}"></script>
    <script th:src="@{/webjars/markdown-it-ins/2.0.0/dist/markdown-it-ins.js}"></script>
    <script th:src="@{/webjars/markdown-it-mark/2.0.0/dist/markdown-it-mark.js}"></script>
    <script th:src="@{/js/admin.js}"></script>
</th:block>
</html>