<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/main :: layout(~{::cardTxt}, ~{},~{})}">
    <section class="row" th:fragment="cardTxt">
        <div class="col-12 col-lg-12 mx-auto">
            <div class="row mb-4 ">
                <div class="card shadow-sm justify-content-center">
                    <div class="text-center card-body pt-4 position-relative">
                        <!-- 标题 -->
                        <h5 class="card-title mb-3">
                            <a class=" text-decoration-none text-body fw-light" th:href="@{/admin}">LinkedHashSet源码解析</a>
                        </h5>
                        <!-- 简介 -->
                        <p class="card-text small mb-0"> Deprecation: With the addition of the expanded
                            theme colors and variables, the .text-muted utility has been deprecated as o
                            f v5.3.0. Its default value has also been reassigned to
                            the new --bs-secondary-color CSS variable to better support color modes. It will be removed in v6.0.0.</p>

                        <!-- 文章信息 -->
                        <div class="text-muted small d-flex gap-3 position-absolute top-0 end-0 p-2 opacity-75">
                            <span><i class="bi bi-calendar3 me-1"></i>
                                <time datetime="2026-03-10">2026-03-10</time>
                            </span>
                            <span><i class="bi bi-eye me-1"></i>123</span>
                            <span><i class="bi bi-chat-dots me-1"></i>5</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</html>