<!DOCTYPE HTML>
<html data-bs-theme="dark" lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>Login</title>
	<link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.css}" rel="stylesheet" >
	<link th:href="@{/webjars/bootstrap-icons/1.13.1/font/bootstrap-icons.css}" rel="stylesheet">
	<link th:href="@{/css/login.css}" rel="stylesheet" type="text/css" />
</head>
<div class="position-absolute top-0 end-0 p-3">
	<button class="btn btn-outline-secondary btn-sm " id="themeToggle">
		切换主题
	</button>
</div>
<body>
	<div class="container">
		<div class="row w-100 vh-100 d-flex justify-content-center align-items-center">
			<div class="col-12 col-md-4">
				<div class="card shadow">
					<div class="card-body">
						<h3 class="text-center mb-4">登录</h3>
						<form th:action="@{/login}" autocomplete="off" method="post">
							<div class="mb-3">
								<label for="username" class="visually-hidden">用户名</label>
								<input class="form-control" id="username" name="username" placeholder="用户名" type="text">
							</div>
							<div class="mb-3">
								<div class="input-group">
									<label for="password" class="visually-hidden">密码</label>
									<input class="form-control"
										   id="password" name="password"
										   placeholder="密码"
										   type="password">
									<button class="btn btn-outline-primary"
											onclick="togglePassword(this)"
											type="button">
										<i class="bi bi-eye"></i>
									</button>
								</div>
								<div class="form-text mt-2">

									<div th:if="${param.error}" class="text-danger">
										Invalid username or password.
									</div>

									<div th:if="${param.logout}" class="text-success">
										You have been logged out.
									</div>

									<div th:unless="${param.error != null or param.logout != null}">
										您的密码长度必须为 8-20 个字符,包含字母和数字，但不能包含空格。
									</div>

								</div>
							</div>
							<button class="btn btn-success w-100" type="submit">登录</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
    /*切换主题颜色 在亮暗之间转换*/
	const btn = document.getElementById("themeToggle");
	btn.addEventListener("click", function () {
		const html = document.documentElement;
		const currentTheme = html.getAttribute("data-bs-theme");

		if (currentTheme === "light" || currentTheme == null) {
			html.setAttribute("data-bs-theme", "dark");
		} else {
			html.setAttribute("data-bs-theme", "light");
		}
	});
	/*密码框点击眼睛显示明文密码*/
	function togglePassword(btn) {
		const input = document.getElementById("password");
		const icon = btn.querySelector("i");

		if (input.type === "password") {
			input.type = "text";
			icon.classList.remove("bi-eye");
			icon.classList.add("bi-eye-slash");
		} else {
			input.type = "password";
			icon.classList.remove("bi-eye-slash");
			icon.classList.add("bi-eye");
		}
	}
</script>
</html>